<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Grade</th>
			<th>Percentage</th>
		</tr>
	</thead>
	<tbody>
		<tr grade-status-indicator="student.grade / 20 * 100" 
				ng-repeat="student in students | filter:searchTerm | orderBy:'grade':false">
		<!-- <tr grade-status-indicator="{{student.grade | percentage:20}}" 
				ng-repeat="student in students | filter:searchTerm | orderBy:'grade':false"> -->
			<td>{{student.first}} {{student.last}}</td>
			<td>{{student.grade}}</td>
			<td>{{student.grade | percentage:20:true}}</td>
		</tr>
	</tbody>
</table>